---
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/fpjunqueira/spring-cloud-netflix-playground
          searchPaths: config-server/config
server:
  port: 8001